<?xml version='1.0' encoding='utf-8'?>
<widget id="com.monapp.chronorace" version="3.0.2" android-versionCode="30002" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Chrono Race Pro</name>
    <description>Application de chronométrage professionnel pour courses de ski et compétitions sportives</description>
    <author email="votre@email.com" href="https://github.com/vinc38300/Chrono_Ski_Vinc">
        vinc38300
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Configuration Android -->
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- Permissions SMS -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.SEND_SMS" />
            <uses-permission android:name="android.permission.READ_SMS" />
            <uses-permission android:name="android.permission.RECEIVE_SMS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
        
        <!-- Icônes -->
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
        
        <!-- Nom court sous l'icône -->
        <preference name="AndroidLauncherName" value="ChronoRace" />
        
        <!-- Désactiver le splash screen -->
        <preference name="SplashScreen" value="none" />
        <preference name="SplashScreenDelay" value="0" />
        
        <!-- Optimisations pour F-Droid -->
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="android-compileSdkVersion" value="34" />
    </platform>
      
    <!-- Configuration iOS -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
